

APP_NAME='EnvEditor' # APP_COMM



ACTIVE=true


KEY=''


BOOT=false


ZERO=0 #ZERO_COMMENT

VAR_DOUBLE=0.1

VAR_NULL=null

DB_PASSWORD="${EXTERNAL_DB_PASSWORD}"

APP_KEY=base64:4KYcssA/VnZfDDjufY6J2pnJWw+HEsHiVKGE6IGYGsk=

APP_EMAIL=support@mail.ru
